
.title{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
  }

  .subtitle {
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .Games {
    padding-left: 15%;
  }